body{
    background-color: beige;
    background-image: url("../images/vendingmachine.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    background-color: white;
}

#orderDetails{
    background-color: white;
    border: 10px;
    border-radius: 3px;
    border-color: black;
    margin-bottom: 22%;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
}

.itemCard{
    height: 33%;
    width: 33%;
    padding: 10px;
    margin: 7px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
}

#changeDisplay{
    width: 180px;
}

button:active{
    position: relative;
    top: 2px;
}

h1{
    text-align: center;
}


input{
    display: block;
}